* {
  margin: 0;
  padding: 0;
  outline: 0;
  line-height: 1.4em;
  list-style: none;
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  margin: 1em;
}

ul > li > label {
  width: 9em;
  display: inline-block;
}

input[type="number"] {
  width: 5em;
  height: 1.5em;
}

#demobar_wrapper {
  margin-bottom: 1em;
}

#demobar_container {
  width: 100%;
  //width: auto;
  height: 30px;
  background-color: #ff0000;
  position: relative;
  vertical-align: middle;
}

#demobar_health {
  width: 50%;
  height: 100%;
  background-color: green;
  position: absolute;
  top: 0;
  left: 0;
  transition: width 0.5s ease;
}

#demobar_shell {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: inset 0 0 10px 5px #00ffff;
  transition: opacity 0.5s linear;
}

#demobar_container.shell #demobar_shell {
  opacity: 1;
}

#demobar_status {
  left: 50%;
  top: 50%;
  position: absolute;
  transition-timing-function: ease-in-out;
  transition: 0.5s;
  transform: translate(-50%, -50%);
  color: #edff09;
  /* color: #1d5700; */
  font-family: 'Space Mono', monospace;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  > span {
    color: cyan;
  }
}

#demobar_name {
  color: #edff09;
  font-family: 'Space Mono', monospace;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.lftxt {
  position: relative;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  text-align: left;
}

.rttxt {
  position: relative;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  text-align: right;
  z-index: 1;
}