body.dark-mode{background-color:#444;color:#eee}body.dark-mode a{color:#444}body.dark-mode button{background-color:#eee;color:#444}body.light-mode{background-color:#eee;color:#444}body.light-mode a{color:#444}body.light-mode button{background-color:#444;color:#eee}body.obs{background-color:transparent}.toright{position:relative;right:10px;transform:translateY(-50%)}
